.title,
.recipes,
.description,
.ingstep {
    font-family: Arial,sans-serif;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.recipes {
    background-color: bisque;
    font-size: 20px;
    color: #e4aa64;
}

.img.waffles {
    width: 500px;
    height: auto;
}

.description{
    background-color: #ff8f8f;
}